body{
  display:flex;
  background-color:#291a2a;
  padding-top:5vh;
}

#main{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:20px;
  max-width:1280px ;
  width:90%;
  max-height: auto;
  margin:auto auto auto auto;
  background-color:#211522;
  padding:20px 20px 20px 20px;
}

@media (max-width: 700px) {
  #main{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 710px) {
  #title{
    transform: translateY(30px);
  }
}

#portrait {
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
  height:auto;
}

#img-wrapper{
  display:flex;
  align-items:center;
  justify-content:center;
  border: 0 2px 2px 2px solid #46283f;
  border-radius:0 0 1.25% 1.25%;
  overflow:hidden;
}

img#image {
  display:block;
  width:100%;
  max-width:640px;
  min-width:290px;
  height:auto;
  max-height: 80%;
  object-fit:fill;
  z-index: 1; 
}

p#img-caption, #title{
  color:rgb(135, 138, 122);
  width:100%;
  z-index:2 ;
  font-size:10px;
  text-align: center;
  margin-top: 15px;
}

#tribute-info>div{
  display:flex;
  flex-direction:column;
  justify-content:center;
  max-width:640px;
  margin:auto;
}

#tribute-info a,#img-caption a{
  color:#D3B1C2;
}

#title{
  color:rgb(237, 240, 223);
  background-color: #613659;
  border: 2px solid #46283f;
  border-radius:5px 5px 0 0;
  border-bottom: none;
  height:auto;
  max-height:8%;
  max-width:640px; 
  min-width:290px;
  text-align:center;
  padding:4px 0 4px 0;
  margin:0px;
  font-size: calc(0.8em + 2.5vmin);
}

p#img-caption{
  height:5%;
  left: 0;
  bottom: 0;
  font-weight: 700;
}

#tribute-info{
  display:flex;
  color:#D3B1C2;
  font-family: "Helvetica Neue",serif;
  font-weight: 500;
  line-height: 1.05;
  font-size: clamp(1rem, -0.875rem + 3.333333vw, 1.5rem);
}

#tribute-info blockquote{
  font-style: italic;
  background-color: #351e30;
  padding:5px 10px 5px 10px;
  margin-top: 0;
}

#tribute-info p{
  margin-top:0;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  text-indent: 25px;
}

#sticker::first-letter{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:blanchedalmond  ;
  font-weight: bold;
  font-size: calc(0.8em + 2.5vmin);
}


#tribute-info #btn{
  margin-top: 10px;
  text-align: center;
}